.link{
    text-decoration-line: none;
    color: transparent;
    transition: 0.1s;
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
}
.link:hover{
    transform: translateY(-3px);
    text-shadow: 0px 0px 5px whitesmoke;
}

.realceLink{
    text-shadow: 0px 0px 0.5px white, 0 0 1em white;
    text-decoration: underline;
    text-underline-offset: 7px;
    color: white;
    transform: translateY(-3px);
    transition: 0.5s;
}