.espacoCertificacoes{
    position: relative;
    width: 100%;
    height: 607px;
    background-color: #fff;
    box-shadow: 0px 12px 10px 5px rgba(0, 0, 0, 0.1);
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;
    overflow-y: visible;
}

.circulo{
    position: absolute;
    width: 305px;
    height: 305px;
    border-radius: 100%;
    background-color: #ffffff;
    border: 15px solid #109AFF;
    overflow-y: visible;
    left: -17%;
    top: -10%;
    z-index: -1;
}

.titulo{
    margin: 0;
    padding-top: 69px;
    padding-bottom: 69px;
    padding-left: 224px;
    color: #313131;
}

.quadrado{
    position: absolute;
    width: 293px;
    height: 293px;
    background-color: #ffffff;
    border: 15px solid #109AFF;
    transform: rotate(-5deg);
    overflow: hidden;
    right: -20%;
    bottom: 10%;
    z-index: -1;
}


.posicionandoSlide{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0%;
    top: 20%;
    scale: 70%;
    transition: 0.5s;
}

@media (max-width: 1080px){
    .titulo{
        padding-top: 69px;
        padding-bottom: 69px;
        padding-left: 0;
        width: 100%;
        text-align: center;
    }

    .posicionandoSlide{
        scale: 60%;
    }
}

@media (max-width: 850px){
    .titulo{
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .espacoCertificacoes{
        height: 430px;
    }

    .posicionandoSlide{
        position: relative;
        scale: 50%;
    }
}
@media(max-width: 720px){
    .titulo{
        position: relative;
        z-index: 1;
    }

    .posicionandoSlide{
        scale: 40%;
        z-index: 1;
    }

    .circulo{
        opacity: 0.5;
        z-index: 0;
    }

    .quadrado{
        opacity: 0.5;
        z-index: 0;
    }
}