.paginaContato{
    position: relative;
    margin: 0;
    width: 100%;
    height: 480px;
    display: grid;
    grid-template-rows: 20% 60% 20%;
}

.tituloPagina{
    margin: 3%;
    color: #303030;
    justify-self: center;
}

.contatos{
    position: relative;
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    column-gap: 2px;
    justify-content: center;
    align-items: baseline;
    margin-top: 5%;
}

.campoContato{
    position: relative;
    width: 100%;
    height: auto;
}

.espacoIcon{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.icon{
    width: 17%;
    height: auto;
    display: flex;
    justify-content: center;
}

.tituloContato{
    text-align: center;
}

.organizacao{
    display: block;
    margin: 5%;
}

.link{
    text-align: center;
    flex-wrap: wrap;
}

@media (max-width: 760px) {

    .paginaContato{
        height: auto;
    }

    .tituloPagina{
        margin: 3%;
        padding-bottom: 10%;
    }

    .contatos{
        row-gap: 2px;
        display: flex;
        flex-direction: column;
    }

    .icon{
        width: 10%;
    }
}