.delimitacaoRodape{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
}

.rodape{
    margin: 0;
    border-top: 3px solid #033473;
    border-radius: 5%;
    margin-top: 15%;
    padding-top: 1.5%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);    
    width: 1220px;
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
}

.desenvolvido{
    margin-top: 7%;
    justify-self: center;
}