.tabelas{
    position: relative;
    margin-top: 2%;
    width: 100%;
    min-height: 607px;
    display: grid;
    grid-template-columns: 411px auto;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
}

.textoParte1{
    background-color: #f0f0f0;
}

.textoParte2{
    background-color: #ffffff;
}

.titulo{
    position: relative;
    width: 90%;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 7%;
    font-weight: 600;
    font-size: 30px;
    color: #303030;
    text-align: center;
}

.iconesTecnologiasUsadas{
    display: flex;
    width: auto;
    height: 50px;
    justify-content: center;
    margin-top: 4%;
}

.iconIndividual{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 0.2s;
}
.iconIndividual:hover{
    scale: 101%;
}

.desenvolvido{
    display: flex;
    font-weight: 600;
    font-size: 1.1rem;
    justify-content: center;
    margin-top: 10%;
}

.linkRepositorio{
    color: #109AFF;
    font-weight: 700;
    margin-left: 1%;
}

.icones{
    width: auto;
    height: 100%;
}


.espacoTextos{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: auto auto;
}

.textoSobreProjeto{
    position: relative;
    margin: 5%;
    width: 90%;
    font-size: 20px;
    text-align: justify;
}

.espacoImagem{
    width: 100%;
    height: auto;
    background-color: #fafafa;
    overflow-x: hidden;
    display: flex;
}

.slideQuadrado{
    position: relative;
    width: 768px;
    height: auto;
    right: -50%;
    transform: translateX(-50%);
}

.botao{
    position: relative;
    height: auto;
    width: auto;
    align-self: flex-end;
    z-index: 1;
    margin-bottom: 10%;
    margin-right: 10%;
}
@media (max-width: 1070px){
    .botao{
        margin-bottom: 20%;
        margin-right: 10%;
    }
}

@media (max-width: 950px){
    .botao{
        margin-bottom: 30%;
        margin-right: 10%;
    }
}

@media (max-width: 830px){
    .botao{
        margin-bottom: 40%;
        margin-right: 10%;
    }
}

@media (max-width: 790px){
    .botao{
        margin-bottom: 50%;
        margin-right: 10%;
    }
    .tabelas{
        grid-template-columns: auto;
    }
    .espacoImagem{
        position: relative;
        width: auto;
        height: 100%;
        overflow: hidden;
        display: flex;
        background-color: #fff;
    }
    .slideQuadrado{
        display: flex;
        left: 14.5%;
        bottom: 5%;
        transform: scale(0.5);
    }
}

@media (max-width: 730px){
    .botao{
        margin-bottom: 60%;
        margin-right: 10%;
    }
}

@media (max-width: 670px){
    .botao{
        margin-bottom: 60%;
        margin-right: 10%;
    }
    .slideQuadrado{
        display: flex;
        left: 16%;
        bottom: 5%;
        transform: scale(0.4);
    }
}

@media (max-width: 610px){
    .botao{
        margin-bottom: 60%;
        margin-right: 10%;
    }
    .slideQuadrado{
        display: flex;
        left: 16.5%;
        bottom: 5%;
        transform: scale(0.4);
    }
}

@media (max-width: 540px){
    .botao{
        margin-bottom: 60%;
        margin-right: 10%;
    }
    .slideQuadrado{
        display: flex;
        left: 18%;
        bottom: 5%;
        transform: scale(0.35);
    }
}

@media (max-width: 585px){
    .slideQuadrado{
        left: 18%;
        bottom: 5%;
        transform: scale(0.35);
    }
}

@media (max-width: 520px){
    .slideQuadrado{
        left: 19.5%;
        bottom: 5%;
        transform: scale(0.30);
    }
}

@media (max-width: 478px){
    .slideQuadrado{
        left: 19.5%;
        bottom: 5%;
        transform: scale(0.30);
    }
}