.slideShow {
    position: relative;
    width: 100%;
    justify-content: center;
    background-color: #fff;
    max-height: 100%;
}

.slidePaginaInicial {
    transform: scaleX(auto);
    transform: scaleY(auto);
}

.backgroundSlide {
    position: relative;
    width: 100%;
    height: 607px;
}

.movimentoSlide {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 607px;
    display: flex;
    align-items: center;
    justify-items: center;
    color: white;
}

.espacoSlide {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 57% 43%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    color: white;
    justify-items: center;
    align-items: center;
}

.item3DoGrid {
    padding-left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 90%, rgba(0, 0, 0, 0.01) 98%);
}

.textoSlide {
    margin-left: 9%;
    max-width: 470px;
    width: 150%;
    height: auto;
    text-wrap: wrap;
}

.item6DoGrid {
    width: 50%;
    height: 100%;
    align-items: start;
    display: grid;
    grid-template-columns: 152px 152px;
    justify-items: baseline;
    margin-left: -10%;
    transition: 0.3s;
}

.botaoParteExterna {
    display: flex;
    height: 84px;
    width: 30px;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}

.iconSlide {
    width: 100%;
    height: 100%;
    color: #303030;
    transition: 0.3s;
}

.iconSlide:hover {
    color: white;
}

@media (max-width: 1219px) or (orientation: portrait) {
    .slidePaginaInicial {
        position: relative;
        width: 100%;
        height: 100%;
        scale: 95%;
    }

    .backgroundSlide {
        position: relative;
        width: 100%;
        height: calc((95vw) * 0.497);
    }

    .movimentoSlide {
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 607px;
        display: block;
    }

    .espacoSlide {
        width: 100%;
        height: 95%;
        grid-template-columns: 57% 43%;
    }
}

@media (max-width: 1210px){
    .slidePaginaInicial {
        position: relative;
        scale: 94%;
    }
}

@media (max-width: 1155px){
    .slidePaginaInicial {
        position: relative;
        scale: 90%;
    }
}

@media (max-width: 1100px){
    .slidePaginaInicial {
        position: relative;
        scale: 85%;
    }
}

@media (max-width: 1060px) {
    .backgroundSlide {
        height: calc(1040px * 0.497);
    }
}

@media (max-width: 950px) {
    .item6DoGrid {
        margin-left: -35%;
    }

    .backgroundSlide {
        height: calc(940px * 0.497);
    }

    .slidePaginaInicial {
        scale: 77%;
    }

    .espacoSlide {
        width: 100%;
        height: 90%;
    }
}

@media (max-width: 870px){
    .slidePaginaInicial {
        scale: 70%;
    }
    .backgroundSlide {
        height: calc(860px * 0.497);
    }
}

@media (max-width: 800px) {
    .item6DoGrid {
        margin-left: -65%;
    }

    .backgroundSlide {
        position: relative;
        width: 100%;
        height: 424px;
    }

    .slidePaginaInicial {
        scale: 83%;
    }

    .espacoSlide {
        width: 100%;
        height: 85%;
    }
}

@media (max-width: 780px){
    .slidePaginaInicial {
        scale: 75%;
    }
}

@media (max-width: 700px) {
    .backgroundSlide {
        height: calc(735px * 0.497);
    }
    .item6DoGrid {
        margin-top: 20%;
        margin-left: -105%;
    }

    .slidePaginaInicial {
        scale: 60%;
    }

    .espacoSlide {
        width: 100%;
        height: 75%;
    }
}

@media (max-width: 680px){
    .slidePaginaInicial {
        scale: 55%;
    }
    .backgroundSlide {
        height: calc(670px * 0.497);
    }
}

@media (max-width: 650px){
    .slidePaginaInicial {
        scale: 50%;
    }
    .backgroundSlide {
        height: calc(610px * 0.497);
    }
}

@media (max-width: 625px){
    .slideShow {
        position: relative;
        display: flex;
        left: 50%;
        transform: translateX(-25%);
        bottom: 80px;
        height: 46vh;
    }

    .slidePaginaInicial {
        scale: 48%;
    }
    .backgroundSlide {
        visibility: hidden;
    }
}

@media (max-width: 600px) {

    .item3DoGrid h1 {
        visibility: hidden;
    }

    .item3DoGrid h3 {
        visibility: hidden;
    }

    .slidePaginaInicial {
        scale: 47%;
    }

    .espacoSlide {
        visibility: hidden;
        width: 100%;
        height: 70%;
    }
}

@media (max-width: 580px){
    .slidePaginaInicial {
        scale: 44%;
    }
    .slideShow {
        bottom: 75px;
        height: 43vh;
    }
}

@media (max-width: 535px){
    .slidePaginaInicial {
        scale: 41%;
    }
    .slideShow {
        bottom: 75px;
        height: 40vh;
    }
}

@media (max-width: 500px){
    .slidePaginaInicial {
        scale: 38%;
    }
    .slideShow {
        bottom: 73px;
        height: 38vh;
    }
}

@media (max-width: 465px){
    .slidePaginaInicial {
        scale: 35%;
    }
    .slideShow {
        bottom: 70px;
        height: 35vh;
    }
}

@media (max-width: 430px){
    .slidePaginaInicial {
        scale: 33%;
    }
    .slideShow {
        bottom: 67px;
        height: 32vh;
    }
}

@media (max-width: 408px){
    .slidePaginaInicial {
        scale: 32%;
    }
}

@media (max-width: 380px){
    .slidePaginaInicial {
        scale: 30%;
    }
    .slideShow {
        bottom: 65px;
        height: 30vh;
    }
}

@media (max-width: 360px){
    .slidePaginaInicial {
        scale: 27%;
    }
    .slideShow {
        bottom: 60px;
        height: 25vh;
    }
}

@media (max-width: 335px){
    .slidePaginaInicial {
        scale: 25%;
    }
    .slideShow {
        bottom: 57px;
        height: 25vh;
    }
}

@media (max-width: 310px){
    .slidePaginaInicial {
        scale: 24%;
    }
    .slideShow {
        bottom: 54px;
        height: 23vh;
    }
}

@media (max-width: 300px){
    .slidePaginaInicial {
        scale: 23%;
    }
}

@media (max-width: 285px){
    .slidePaginaInicial {
        scale: 22%;
    }
    .slideShow {
        bottom: 55px;
        height: 21vh;
    }
}

@media (max-width: 267px){
    .slidePaginaInicial {
        scale: 20%;
    }
    .slideShow {
        bottom: 50px;
        height: 19vh;
    }
}

@media (max-width: 250px){
    .slidePaginaInicial {
        scale: 19%;
    }
    .slideShow {
        bottom: 47px;
        height: 19vh;
    }
}

@media (max-width: 237px){
    .slidePaginaInicial {
        scale: 18.5%;
    }
    .slideShow {
        bottom: 48px;
        height: 18vh;
    }
}