.carrosselEspaco{
    position: relative;
    top: 100px;
    width: 1220px;
    height: 607px;
    background-color: #fff;
    display: grid;
    grid-template-rows: auto auto;
    left: 50%;
    transform: translateX(-50%);
}

.titulo{
    position: relative;
    margin-top: 2%;
    color: #303030;
    justify-self: center;
}

.carrossel{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #303030;
    margin-bottom: 2%;
}